@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200&display=swap");

:root {
  color-scheme: dark;
}

body,
html {
  margin: 0;
  height: 100%;
  font: bold 14px/1.4 "Saira Extra Condensed", sans-serif;
  background: #000;
  color: #fff;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-weight: 300; /* Adjust this value as needed */
}

p {
  font-family: "Nunito";
  font-weight: 100;
  font-size: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------- Headers / Fonts ----------- */

h1 {
  font-size: 36px;
  letter-spacing: 0.2em;
  color: #a0a0a0;
  white-space: nowrap;
}

h2 {
  font-size: 26px;
  letter-spacing: 0.2em;
  color: #a0a0a0;
  white-space: nowrap;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #a0a0a0;
}

h4 {
  font-size: 15px;
  letter-spacing: 0.2em;
  color: #a0a0a0;
  white-space: nowrap;
}

hr {
  border: none; /* Remove the default border */
  height: 0.5px; /* Set the height of the <hr> */
  background-color: #a0a0a0; /* This is what colors the <hr> */
  margin-top: 3px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  display: inline-block;
  position: relative;
  padding: 15px 0;
}

a {
  color: #a0a0a0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-size: 24px;
}

a:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background: #a0a0a0;
  transform: scaleX(0);
  transform-origin: left center; /* Start the scaling from the left */
  transition: transform 0.5s ease;
}

a:hover:after {
  transform: scaleX(1); /* Scale to full width */
}

/* ----------- Components ----------- */

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.badges {
  position: relative;
  z-index: 1;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.badge img {
  max-width: 80%;
  max-height: 80%;
}

.badge:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .badges {
    gap: 25px; /* Reduce the gap between badges */
  }

  .badge {
    width: 50px; /* Reduce badge width */
    height: 50px; /* Reduce badge height */
  }

  .badge img {
    max-width: 70%; /* Adjust image size within the badge */
    max-height: 70%;
  }
}

footer {
  z-index: 1;
  padding: 50px;
  position: relative;
  background: rgba(13, 2, 8, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
}

/* ---------- Navbar ---------- */
nav {
  background: rgba(13, 2, 8, 0.2);
  padding-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
  z-index: 1; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 30px;
  width: 100%; /* Ensure nav spans the full width */
  position: relative;
  margin-bottom: 30px;
}

.nav-brand {
  font-size: 20px;
  font-weight: bold;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 20px; /* Adjust the gap between links as needed */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-links li a {
  text-decoration: none;
  color: #000; /* Adjust the color as needed */
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-brand {
    width: 100%;
    text-align: center;
  }
}

/* ----------- Animations ----------- */

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #a0a0a0;
  text-transform: uppercase;
  transition: transform 0.5s ease;
}

a:hover .waviy span {
  animation: flip 2s forwards; /* Adjust total duration to include delay */
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  20% {
    /* Assuming you want a 20% delay at the start */
    transform: rotateY(0deg);
  }
  20%,
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  margin: 100px auto;
  padding: 50px;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 500px;
  z-index: 100000;
}

.card h1,
.card p {
  margin: 0;
  color: #a0a0a0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  z-index: 1;
  text-align: center;
}

.left-column {
  flex: 1;
  padding: 60px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 50px;
  z-index: 1;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.right-column .top-section,
.right-column .bottom-section {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  z-index: 1;
}

.right-column .bottom-section {
  margin-bottom: 0;
  z-index: 1;
}

.right-column .section-item {
  flex: 1;
  margin: 0 10px;
  z-index: 1;
}

.right-column .section-item img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 20px;
  }

  .left-column,
  .right-column,
  .right-column .top-section,
  .right-column .bottom-section {
    flex: none; /* Reset any flex settings */
    width: 100%; /* Make them take full width */
    margin-right: 0; /* Remove any margin-right that may affect the layout */
    margin-bottom: 20px; /* Add some space between the stacked elements */
    padding: 10px;
  }

  .right-column .bottom-section {
    margin-bottom: 0; /* Keep the bottom margin for the last element as 0 */
  }
}

.viewport-filler {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Make the viewport-filler take the full height of the viewport */
  width: 100%; /* Ensure it spans the full width */
}

.pdf {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 0px 0 0px;
  width: 100%;
  height: 70vh;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Adjusted */
  height: auto; /* Adjusted */
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
  padding: 50px; /* Consider adjusting or removing if it causes issues */
  object-fit: contain; /* Ensures the image is scaled to maintain its aspect ratio while fitting within the element's box */
}

.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  z-index: 5;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
  z-index: 5;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

@media(min-width: 768px) {
  .mobile-images {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slideshowContainer {
    height: 30vh;
  }
  .viewport-filler {
    height: 30vh;
  }
  
}

@media (max-width: 768px) {
  .slideshowContainer {
    display: none;
  }

  .viewport-filler {
    height: 30vh;
  }
  

  .mobile-images {
    position: relative;
    width: 100%; /* Adjust based on your layout */
    height: 200px; /* Adjust based on your images */
    overflow: hidden;
  }

  .mobile-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust as needed to maintain aspect ratio */
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .mobile-images img:first-child {
    opacity: 1;
  }

  .space {
    height: 20px;
  }
}

.profile-picture {
  width: 70%; /* Adjust size as needed */
  margin-bottom: 10px;
  border: 3px solid #ccc; /* Add a border */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a professional look */
}